<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>E-Commerce Site</h1>
    </header>
    <div class="maindiv">
        <section class="section">
            <app-shopping (childEvent)="message=$event"></app-shopping>
        </section>
        <aside class="aside">
           <app-cart [parentData]="message"></app-cart>
        </aside>
    </div>

</body>
</html>